/*
    _este archivo es importado en 'assets/sass/style.scss'
*/

/*
	ubuntu-bold Font for titles
*/
@font-face {
	font-family: 'ubuntu-bold';
	src: url('../../../assets/fonts/ubuntu/Ubuntu-Bold.ttf');
}

/*
	ubuntu-regular Font for subtitles
*/
@font-face {
	font-family: 'ubuntu-regular';
	src: url('../../../assets/fonts/ubuntu/Ubuntu-Regular.ttf');
}

/*
	baloo2-bold Font fot buttons and links
*/
@font-face {
	font-family: 'baloo2-bold';
	src: url('../../../assets/fonts/baloo_2/Baloo2-Bold.ttf');
}



