/*
    btnLink: este mixin contiene los estilos generales de los
    botones del cardsComponente y de bannerComponent, definimos
    display inline-flex y su propiedad space-around y align-items
    que junto a width y height nos permite centrar de manera 
    vertical y horizontal los elementos que este contiene
*/
@mixin btnLinks() {
    display: inline-flex;
    width: 187px;
    justify-content: space-around;
    height: 52px;
    align-items: center;
    border-radius: 5px;
    transition: transform .2s, box-shadow .5s;

    /*
        .cuando hacemos :hover sobre tag-a agregamos color y color de fondo,
        .finalmente definimos transform: translateY() para desplazar el boton 
        .-8px hacia arriba
    */
    &:hover {
        transform: translateY(-8px);
        box-shadow: 0 4px 8px 0 var(--shadowColor);
    }
}