/*
    _este archivo es importado en 'assets/sass/style.scss'
*/

/*
    .$mainPageColor: almacena el color principal de la pagina
    .el cual es impelmentado en varios elementos html
*/
$mainPageColor: rgb(71, 155, 227);

/*
    .$mainPageBackgroundColor: almacena el color de fondo principal 
    .de la pagina el cual es impelmentado en varios elementos html
*/
$mainPageBackgroundColor: rgb(71, 155, 227);

/*
    .$mainPageBorderColor: almacena el color de bordes principal 
    .de la pagina el cual es impelmentado en varios elementos html
*/
$mainPageBorderColor: rgb(71, 155, 227);




