/*
    banner_component: definimos margin-top: 0 !important para remover un
    margen en la parte superior que se definido en todos los componentes
    en 'src\sass\style.scss' 
*/
.banner_component {
    margin-top: 0 !important;
    padding-top: 100px !important;

    /*
        banner_flexbox
    */
    .banner_flexbox {
        /*
            _@query 1000px ==> : definimos flexbox y sus propiedades
            _justify-content y align-items para centrar de manera
            _vertical y horizontal los elementos que este contiene
        */
        @media (min-width: 1000px) {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        /*
            box_banner_biografy
        */
        .box_banner_biografy {  
            /*
                _@query 1000px ==> : definimos un ancho para este elemento
                _en esta medida
            */
            @media (min-width: 1000px) {
                width: 45%;
            }
    
            /*
                tag-h1
            */
            h1 {
                /*
                    _@query 300px ==> : definimos un tamaño de fuente para 
                    _este elemento en esta medida
                */
                @media (min-width: 300px) {
                    font-size: 24px;
                }

                /*
                    _@query 372px ==> : definimos un tamaño de fuente para 
                    _este elemento en esta medida
                */
                @media (min-width: 372px) {
                    font-size: 32px;
                }

                /*
                    _@query 479px ==> : definimos un tamaño de fuente para 
                    _este elemento en esta medida
                */
                @media (min-width: 479px) {
                    font-size: 42px;
                }

                /*
                    _@query 1200px ==> : definimos un tamaño de fuente para 
                    _este elemento en esta medida
                */
                @media (min-width: 1200px) {
                    font-size: 46px;
                }
            }
            
            /*
                tag-h5
            */
            h5 {
                color: #aaaaaa;
                letter-spacing: .6px;
                
                /*
                    _@query 300px ==> : definimos un tamaño de fuente para 
                    _este elemento en esta medida
                */
                @media (min-width: 300px) {
                    font-size: 18px;
                }

                /*
                    _@query 400px ==> : definimos un tamaño de fuente para 
                    _este elemento en esta medida
                */
                @media (min-width: 400px) {
                    font-size: 22px;
                }

                /*
                    _@query 600px ==> : definimos un tamaño de fuente para 
                    _este elemento en esta medida
                */
                @media (min-width: 600px) {
                    font-size: 25px;
                }
            }
    
            /*
                tag-p: definimos un max-width para que apartir de 600px en adelante
                este elemento tenga un ancho de 700px en referencia al ancho de su 
                contenedor padre, con esto evitamos que este elemento tome el 100%
                de ancho
            */
            p {
                max-width: 900px;
                padding: 25px 0 40px;
            }

            /*
                box_btn
            */
            .box_btn {
                /*
                    tag-button
                */
                button {
                    /*
                        _@query 429px <== : definimos un espaciado para este elemento en 
                        _esta medida
                    */
                    @media (max-width: 429px) {
                        padding: 10px 20px;
                    }
                }

                /*
                    tag-a: es importante definir un display: inline-flex junto con las propiedades 
                    width, justify-content, height y align-items para dar tamaño al boton y 
                    centrar de manera vertical y horizontal su contenido
                */
                a {
                    @include btnLinks();
                    border: 2px solid $mainPageBorderColor;
                    border-radius: 5px;
                    margin-left: 12px;

                    /*
                        _@query 429px <== : modificamos el ancho y margen izquierdo de este elemento en 
                        _esta medida
                    */
                    @media (max-width: 429px) {
                        width: 127px;
                        margin-left: 2px;
                    }

                    /*
                        tag-svg
                    */
                    svg {
                        fill: $mainPageBackgroundColor;
                        width: 24px;
                        height: 24px;
                    }
                }
            }
        }

        /*
            box_banner_img: definimos position: relative debido a que uno de sus
            elementos hijo tiene definido position: absolute, finalmente con
            text-align: center ponemos al centro los elementos que este contine
        */
        .box_banner_img {
            position: relative;
            text-align: center;

            /*
                _@query 999px <== : definimos display: none para remover este
                _elemento de la vista en esta medida
            */
            @media (max-width: 999px) {
                display: none;
            }

            /*
                box_border_img: definimos position: absolute y sus propiedades
                top y left para posicionar este elemento por encima de la imagen,
                finalmente implementamos width y height para darle tamaño
            */
            .box_img_border {
                position: absolute;
                top: 53px;
                left: 58px;
                width: 70%;
                height: 89%;
                box-shadow: 0 5px 10px 0 var(--shadowColor);
            }
    
            /*
                tag-img: definimos position: relative para posicionar la imagen
                por encima del borde
            */
            img {
                position: relative;
                
                /*
                    _@query 1000px ==> : definimos width y height para darle tamaño
                    _a este elemento en esta medida
                */
                @media (min-width: 1000px) { 
                    width: 90%;
                    height: auto;
                }
            }
        }
    }
}