<!DOCTYPE html>
<html lang="es">
<head>
    <!-- 
        Google Tag Manager 
    -->
    <script>
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-5PDRT7J');
    </script>
    <!--  
        SEO tags
    -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Jefferson Salazar">
    <meta name="description" content="En este portafolio web, conocerás un poco sobre mí y mis habilidades en el manejo de tecnologías para el desarrollo web.">
    <meta name="keywords" content="HTML, portafolio, desarrollador">
    <meta name="sitedomain" content="https://portafolio-jefferson-salazar.herokuapp.com">
    <meta name="robots" content="index, portfolio">
    <title>Portafolio Jefferson Salazar</title>
    <!--  
        favicon
    -->
    <link rel="icon" type="image/png" href="./assets/images/portafolio.png">
    <!--  
        styles css
    -->
    <link rel="stylesheet" href="./sass/style.css">
    <!--  
        swiper js
    -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
    <!-- 
        scroll reveal 
    -->
    <script src="https://unpkg.com/scrollreveal"></script>
</head>
<body>
    <!-- 
        Google Tag Manager (noscript) 
    -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5PDRT7J"
            height="0" width="0" style="display:none;visibility:hidden">
        </iframe>
    </noscript>