<!-- 
    _loader_component: contenedor de la seccion,
    _hoja de estilos 'src/sass/layout/_loader.scss',
    _definimos un ID para manejar este elemento 
    _desde 'src/js/contacts.js'
-->
<div class="loader_component" id="loader-component">
    <!--  
        box_loader_content: contenedor de 1 tag-span
    -->
    <div class="box_loader_content js_background_change">
        <!--  
            .tag-span: definida para crear el loader o spinner
        -->
        <span></span>
    </div>
</div>