/*
    cards_component
*/
.cards_component {
    /*
        cards_container: definimos un ancho maximo de 90% para
        este contenedor
    */
    .cards_container { 
        max-width: 90%;
        margin: 0 auto;

        /*
            _@query 1200px ==> : modificamos el ancho maximo de 
            _este elemento para esta medida
        */
        @media (min-width: 1200px) {
            max-width: 80%;
        }

        /*
            cards_grid
        */
        .cards_grid {
            /*
				swiper
			*/
			.swiper {
                padding: 10px 10px 60px;

				/*
					swiper-wrapper
				*/
				.swiper-wrapper {
                    /*
						swiper-slide
					*/
					.swiper-slide {
                        /*
                            box_cards_content
                        */
                        .box_cards_content {
                            background-color: var(--backgroundColor);
                            padding: 30px 25px;
                            border-radius: 5px;
                            box-shadow: 0 3px 8px -2px var(--shadowColor);

                            /*
                                _@query 315px <== : modificamos el espaciado de este
                                _elemento para esta medida
                            */
                            @media (max-width: 315px) {
                                padding: 20px 14px;
                            }

                            /*
                                tag-h3
                            */
                            h3 {
                                color: $mainPageColor;
                                font-size: 30px;

                                /*
                                    _@query 349px <== : modificamos el tamaño de fuente de este
                                    _elemento para esta medida
                                */
                                @media (max-width: 349px) {
                                    font-size: 25px;
                                }
                            }

                            /*
                                tag-p
                            */
                            p {
                                margin-top: 18px;
                            }
                        }
                    }
                }
            }
        }
    }
}

/*
    para modificar los valores de swiper cuando utilizamos los marcadores
    circulares lo hacemos sobre estas propiedades
*/
.swiper-horizontal>.swiper-pagination-bullets 
.swiper-pagination-bullet, 
.swiper-pagination-horizontal.swiper-pagination-bullets 
.swiper-pagination-bullet {
    width: 14px;
    height: 14px;
}

.swiper-pagination-bullet-active {
    background-color: #fff !important;
    border: 2px solid #f1f1f1;
}

.swiper-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic, 
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    background: $mainPageBackgroundColor;
    padding: 4px 0;
    border-radius: 20px;
    box-shadow: 0 3px 7px 0 var(--shadowColor);
}